* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(246, 229, 97);
  background: linear-gradient(
    90deg,
    rgba(246, 229, 97, 1) 0%,
    rgba(29, 188, 253, 1) 50%,
    rgba(255, 95, 246, 1) 100%
  );
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1em;
}

.title {
  font-size: 3em;
  letter-spacing: 0.2em;
  color: rgb(255, 255, 255);
}

.logo {
  width: 5em;
  height: 5em;
  transform: rotate(10deg);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 52em;
  margin: auto;
  padding: 1em 1em 2em;
  background-color: rgb(255, 130, 45, 0.5);

  border-radius: 1em;
  box-shadow: 0 0.25em 0.5em 0.25em rgb(187, 29, 128, 0.5);
}

.image-container {
  display: flex;
  width: 100%;
  margin-bottom: 2em;
  overflow: hidden;
  border-radius: 1em;
  border: 0.2em solid rgb(255, 255, 255);
}

.text-container {
  width: calc(100% - 15em);
  overflow: hidden;
}

.slider-image {
  display: flex;
  transition: ease-in-out 0.2s;
}

.slider-text {
  display: flex;
  width: 500%;
  transition: ease-in-out 0.2s;
}

.meme-image {
  width: 50em;
  height: 30em;
  object-fit: cover;
}

.meme-text {
  width: 20%;
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}

.slider-control {
  display: flex;
  justify-content: space-between;
  width: 12em;
}

.label-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.control {
  width: 0;
  height: 0;
  margin: 0;
}

.span-control {
  display: block;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: rgb(202, 11, 74);
  border: 0.25em solid rgb(202, 11, 74);
  transition: ease-in-out 0.2s;
}

.label-control:hover .span-control {
  background-color: rgb(255, 103, 35);
  border: 0.25em solid rgb(255, 103, 35);
}

.label-control:active .span-control {
  background-color: rgb(187, 29, 128);
  border: 0.25em solid rgb(187, 29, 128);
  transform: scale(1.4);
}

body:has(#meme-one:checked) #control-one {
  background-color: transparent;
}

body:has(#meme-two:checked) #control-two {
  background-color: transparent;
}

body:has(#meme-three:checked) #control-three {
  background-color: transparent;
}

body:has(#meme-four:checked) #control-four {
  background-color: transparent;
}

body:has(#meme-five:checked) #control-five {
  background-color: transparent;
}

body:has(#meme-one:checked) .slider-image,
body:has(#meme-one:checked) .slider-text {
  transform: translateX(0);
}

body:has(#meme-two:checked) .slider-image,
body:has(#meme-two:checked) .slider-text {
  transform: translateX(-20%);
}

body:has(#meme-three:checked) .slider-image,
body:has(#meme-three:checked) .slider-text {
  transform: translateX(-40%);
}

body:has(#meme-four:checked) .slider-image,
body:has(#meme-four:checked) .slider-text {
  transform: translateX(-60%);
}

body:has(#meme-five:checked) .slider-image,
body:has(#meme-five:checked) .slider-text {
  transform: translateX(-80%);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  padding-top: 1em;
}

.footer-copyright,
.footer-link {
  white-space: nowrap;
  margin: 1em;
  font-size: 1em;
  font-weight: 400;
  color: hwb(0 100% 0%);
  transition: ease-in-out 0.2s;
}

.footer-link:hover {
  color: rgb(187, 29, 128);
}

@media (max-width: 1067px) {
  .main {
    width: calc(75vw + 2em);
  }

  .meme-image {
    width: 75vw;
    height: 45vw;
  }
}

@media (max-width: 960px) {
  .text-container {
    width: 100%;
    order: 1;
  }

  .slider-control {
    margin: 0 auto 1em;
  }

  .meme-text {
    font-size: 1.2em;
  }
}

@media (max-width: 520px) {
  .header {
    flex-direction: column;
  }

  .title {
    font-size: 2em;
  }
}
